<li class="comment-item">
  <div class="d-flex">
    <input type="checkbox" class="form-check-input comment-checkbox me-3 mt-1">
    <div style="flex-grow: 1;">
      <div class="comment-author">
        <div class="comment-avatar"><%= comment.user.email[0].upcase %></div>
        <div class="comment-meta">
          <div class="comment-name"><%= comment.user.email %></div>
          <div class="comment-date"><%= comment.created_at.strftime("%B %e, %Y at %l:%M %p") %></div>
        </div>
      </div>
      <div class="comment-content">
        <%= comment.content %>
      </div>
      <div class="comment-actions">
        <%= link_to edit_admin_post_comment_path(comment.post, comment), class: 'action-btn btn-edit', title: 'Edit' do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to admin_comment_path(comment), class: 'action-btn btn-delete', title: 'Delete', data: { turbo_method: :delete, turbo_confirm: "Delete this comment?" } do %>
          <i class="fas fa-trash"></i> 
        <% end %>
      </div>
    </div>
  </div>
</li>
