<%= content_for :head do %>
  <%= stylesheet_link_tag "posts_edit.css", "data-turbo-track": "reload" %>
<% end %>
<div class="post-edit-container">
  <div class="post-edit-header">
    <h1>
      <i class="fas fa-edit me-2"></i>Edit Post
    </h1>
    <%= link_to "Cancel", posts_path, class: "btn-cancel" %>
  </div>
  <div class="post-edit-card">
    <%= form_with(model: @post, local: true) do |f| %>
      <% if @post.errors.any? %>
        <div class="form-errors">
          <h5><i class="fas fa-exclamation-triangle me-2"></i>Please fix these issues:</h5>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :title, "Post Title" %>
        <%= f.text_field :title, class: "form-control #{'is-invalid' if @post.errors[:title].any?}", required: true %>
        <% if @post.errors[:title].any? %>
          <div class="error-message">
            <i class="fas fa-info-circle me-1"></i><%= @post.errors[:title].first %>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :body, "Post Content" %>
        <%= f.text_area :body, rows: 10, class: "form-control #{'is-invalid' if @post.errors[:body].any?}", required: true %>
        <% if @post.errors[:body].any? %>
          <div class="error-message">
            <i class="fas fa-info-circle me-1"></i><%= @post.errors[:body].first %>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :published_date, "Publish Date" %>
        <%= f.datetime_local_field :published_date, class: "form-control #{'is-invalid' if @post.errors[:published_date].any?}" %>
        <% if @post.errors[:published_date].any? %>
          <div class="error-message">
            <i class="fas fa-info-circle me-1"></i><%= @post.errors[:published_date].first %>
          </div>
        <% end %>
      </div>
      <div class="form-actions">
        <%= link_to "Delete Post", post_path(@post), 
                  method: :delete, 
                  data: { confirm: "Are you sure you want to delete this post?" },
                  class: "btn-delete-post" %>
        <%= link_to "Cancel", posts_path, class: "btn-cancel" %>
        <%= f.submit "Update Post", class: "btn-submit" %>
      </div>
    <% end %>
  </div>
</div>
